@use '../abstract/colors' as colors;

.bar{
    font-size: 1rem;
    background: colors.$background-color;
    min-height: 100vh;
    .header{
        border-bottom: 1px double hsl(210, 7%, 46%);;

        padding: 30px 20px 10px 20px;
    }
    .body{
        padding-left: 1rem;
        }
    details{
        border: 1px solid green;
        & > *:not(summary) {
            margin-left: 16px;
        }
        summary {
            list-style: none;
            cursor: pointer;
            position: relative;
            padding-left: 25px;
            // Xóa marker mặc định
            &::-webkit-details-marker {
                display: none;
            };
                // Thêm biểu tượng mũi tên
            &::before {
                content: "▸";
                position: absolute;
                left: 14px;
                transition: transform 0.2s ease;
            }
        }
         // Xoay mũi tên khi mở
        &[open] > summary::before {
            transform: rotate(90deg);
        }
    }
    a{
        display: block;
        padding-left: 0.1rem;
        text-decoration: none;
        color: black;
       
    }
   
      
      
     
}
.item{
    &, >*{
      padding: 0.2rem 0;
      width: 100%;
    }
    &:hover {
      background: hsl(211, 100%, 90%);
    }  
  }
  
.active{
    background: hsl(211, 100%, 90%);
    
    a{
        font-weight: 600;
        color: hsl(211, 100%, 50%);}
  }