// src/scss/components/TreeView.module.scss
@use "../abstract/colors" as color;
@use "../abstract/mixins" as mixins;
$space-left: 0.8rem;
$space-child: 1.3rem;
$space-icon: 0.5rem;

$space-top: 0.5rem;
.active {
    @include mixins.dir-active;
}
.treeNode {
    padding: 0;
    &.active {
        @include mixins.dir-active;
    }
}

.fileLink {
    display: block;
    padding: $space-top $space-child;
    color: black;
    text-decoration: none;
    &:hover {
        background-color: rgba(color.$sidebar-active, 0.1);
    }

    &.active {
        @include mixins.dir-active;
    }
}

.folderButton {
    display: flex;
    align-items: center;
    width: 90%;
    padding: $space-top $space-child;
    color: color.$sidebar-text;
    background: none;
    cursor: pointer;

    &:hover {
        background-color: rgba(color.$sidebar-active, 0.1);
    }
}

.folderIcon {
    margin-right: $space-icon;
    &.open {
        transform: rotate(90deg);
    }
}

.children {
    margin-left: $space-child;
    border-left: 2px solid color.$sidebar-border;

    &.open {
        display: block;
    }

    &.closed {
        color: color.$sidebar-active;
        font-weight: 600;
        display: none;
    }
}

.treeNode {
    .treeNode {
        .fileLink,
        .folderButton {
            padding-left: $space-child;
        }
    }
}
