@charset "UTF-8";
.bar {
  font-size: 1rem;
  background: hsl(210, 17%, 98%);
  min-height: 100vh;
}
.bar .header {
  border-bottom: 1px double hsl(210, 7%, 46%);
  padding: 30px 20px 10px 20px;
}
.bar .body {
  padding-left: 1rem;
}
.bar details {
  border: 1px solid green;
}
.bar details > *:not(summary) {
  margin-left: 16px;
}
.bar details summary {
  list-style: none;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
}
.bar details summary::-webkit-details-marker {
  display: none;
}
.bar details summary::before {
  content: "▸";
  position: absolute;
  left: 14px;
  transition: transform 0.2s ease;
}
.bar details[open] > summary::before {
  transform: rotate(90deg);
}
.bar a {
  display: block;
  padding-left: 0.1rem;
  text-decoration: none;
  color: black;
}

.item, .item > * {
  padding: 0.2rem 0;
  width: 100%;
}
.item:hover {
  background: hsl(211, 100%, 90%);
}

.active {
  background: hsl(211, 100%, 90%);
}
.active a {
  font-weight: 600;
  color: hsl(211, 100%, 50%);
}
